*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right,rgb(101, 240, 101) ,rgb(116, 192, 93) );
    width:100%;
    height: 50vh;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: Arial;
}

.container{
    border: 3px solid rgba(177, 0, 0, 0.74);
    padding: .5em;
    
}


#mnj{
    border: 2.5px solid rgb(75, 93, 255);
    margin-left: 45%;
    width: 30%;
}

.label{
    margin-left: 20%;
}
#usuario{
   margin-left: 2.40%;
}

#boton{
    width: 15%;
    height: 15%;
    align-items: right;
    justify-content: center;
    margin-left: 20%;
 
}

