
.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}
.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .box div {
    width: 1000px;
    height: 25px;
  }
  
  